.bento-buzz {
  background-color: var(--floor-color);
  min-height: 100vh;
  display: flex;
  gap: 32px;
  padding: 32px;
  flex-direction: column;
  overflow-y: scroll;
}

.bento-buzz header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 72px;
}

.logo {
  height: 72px;
}

.header-links {
  display: flex;
  gap: 64px;
}

main {
  display: flex;
  gap: 32px;
  flex: 1;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0 0;
}